page-notes {
  .transparentUpload{
    opacity: 0.8;
    background-color: #666666;
  }
  .changeFont{
    font-family: sans-serif;
  }
  .transparentdiv{
    background-color: #666666;
    opacity : 0.9;
  }
  .transparentChild{
    background-color: #b3b3b3;
  }
}
