page-list {
  $fab-list-margin: 100px;

}
/*
ion-card.cards-list-demo ion-card-header {
    color: map-get($colors, primary);
  }
ion-card.cards-list-demo ion-card-content {
  color: map-get($colors, primary);
}*/