page-profile {
    .masters {
        background-color:lavender;
      }
      /*ion-icon {
        font-size: 150px; //Preferred size here
        position:relative;
        left:400px;
        //top:-30px;

    }*/


}
