<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="masters">
  <div class="row responsive-lg">
    <ion-grid>
      <ion-row>
        <ion-col col-6 style="border:solid 1px black;border-radius:4px;margin:2px;">
            <h3 text-wrap style="font-size:20px;color:white;border:solid 1px;border-radius:4px;background-color:#387ef5"> {{profileDetails.name}} </h3>
            <p><b><u>Email Id</u> : {{profileDetails.emailId}}</b> <p>
            <p><b><u>Gender</u>: {{profileDetails.gender}}</b> </p>
            <!--img src="/assets/160_F_84671939_jxymoYZO8Oeacc3JRBDE8bSXBWj0ZfA9.jpg" alt="hi"-->
            <!--ion-col col-6 style="border:solid 1px black;border-radius:4px;margin:2px;"-->
            <ion-icon name="contact" style="font-size:110px;position:relative;left:500px;top:-80px"></ion-icon>
            <!--/ion-col-->
          </ion-col>


        <ion-col col-3 style="border:solid 1px black;margin:2px;border-radius:4px;left:150px">
          <h3 text-wrap text-center style="font-size:20px;color:white;border:solid 1px;border-radius:4px;background-color:#387ef5"> Contribution Details </h3>
          <!--div id="details"-->
          <ion-item text-wrap text-center style="font-size: 6rem;color:white;background-color:black"> Number of Questions Asked : {{profileDetails.numberOfQuestionsAsked}} </ion-item>
          <ion-item text-wrap text-center style="font-size: 6rem;color:white;background-color:black"> Number of Questions Answered : {{profileDetails.numberOfQuestionsAnswered}} </ion-item>
          <ion-item text-wrap text-center style="font-size: 6rem;color:white;background-color:black"> Number of Answers Upvoted : {{profileDetails.numberOfUpvotes}} </ion-item>
          <ion-item text-wrap text-center style="font-size: 6rem;color:white;background-color:black"> Number of Project Ideas : {{profileDetails.numberofProjectIdeas}} </ion-item>
          <ion-item text-wrap text-center style="font-size: 6rem;color:white;background-color:black"> Number of Notes Uploaded : {{profileDetails.numberOfNotesUploaded}} </ion-item>
          <ion-item text-wrap text-center style="font-size: 6rem;color:white;background-color:black"> Number of Views for Notes : {{profileDetails.numberOfViewsForNotes}} </ion-item>
          <!--/div-->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 style="border:solid 1px black;margin:2px;border-radius:4px;top:100px">
          <div class="item item-divider">
            <h3 text-wrap text-center style="border:solid 1px;color:white;border-radius:4px;background-color:#387ef5 ">Top Subjects</h3>
          </div>
          <div *ngFor="let topSubject of profileDetails.topSubjects">
            <!--ul class="list"-->
              <ion-item text-wrap text-center style="color:white;background-color:black">
                {{topSubject}}
              </ion-item>
              <!--/ul-->
          </div>
        </ion-col>
        <ion-col col-4 style="border:solid 1px black;margin:2px;border-radius:4px;left:300px;top:100px">
          <div class="item item-divider">
            <h3 text-wrap text-center style="border:solid 1px;color:white;border-radius:4px;background-color:#387ef5">Top Tags</h3>
          </div>
          <div *ngFor="let topTag of profileDetails.topTags">
            <!--ul class="list"-->
              <ion-item text-wrap text-center style="color:white;background-color:black">
                {{topTag}}
              </ion-item>
            <!--/ul-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
