<!--
  Generated template for the IdeasDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ideas-details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
    <h3 text-center *ngIf="selectedIdea">
     <br>
     <ion-icon name="quote"></ion-icon>
      {{selectedIdea.title}}
    </h3>

    <h4 text-center *ngIf="selectedIdea">
      <ion-icon name="help"></ion-icon>  <b>{{selectedIdea.summary}}</b>
    </h4>
    <h3 align="center" (click)="profile(selectedIdea.owner_id)"> Submitted by : <b><p></p> <ion-icon name="person"></ion-icon>{{selectedIdea.owner}} </b> </h3>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button (click)="upvoteIdea()">
            <ion-icon name="thumbs-up">{{selectedIdea.upvotes}}</ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="downvoteIdea()">
            <ion-icon name="thumbs-down">{{selectedIdea.downvotes}}</ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <ion-icon name="eye">{{selectedIdea.views}}</ion-icon>
          </ion-col>
          <ion-col *ngIf="show == 1">
            <button ion-button (click)="request_colab()">Colaborate</button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="requests_check == 1">
          <ion-grid>
            <ion-row *ngFor="let request of requests;let i = index">
              <ion-card>
                <ion-card-content>
                  {{request.msg}}
                  <button ion-button (click)=accept(request,i)>
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </button>
                  <button ion-button (click)=reject(request,i)>
                    <ion-icon name="close-circle"></ion-icon>
                  </button>
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
        </ion-row>
        <ion-row>
        <ion-col col-4>
          <ion-card>
            <ion-card-content class="link-card">
              <ion-list>
              <p *ngFor="let link of selectedIdea.links">{{link}}</p>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-4>
          <ion-card-header>
              <ion-icon name="contacts"></ion-icon>
          </ion-card-header>
          <ion-card >
            <ion-card-content>
              <ion-list>
              <p *ngFor="let colab of selectedIdea.colab_emails">{{colab}}</p>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                {{selectedIdea.description}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-card text-wrap text-center  *ngFor="let comment of selectedIdea.comments" style="color:white;background-color:rgb(39, 65, 17);border-bottom:1px solid grey;opacity:0.6;position:relative;top:70px">
        <ion-card-content class="item-note" item-right>
            <div class="item-note" item-right (click)="profile(comment.user_id)">
            <br><b>{{comment.user_name}} says : </b>{{comment.comments}}
                <ion-icon name="person"></ion-icon>
            </div>
            <br>
            <br>
       </ion-card-content>
   </ion-card>
   <div>
        <ion-label color="primary" Floating></ion-label>
        <ion-input type="text" [(ngModel)]="new_comment" placeholder="Your comment here"></ion-input>
    <button ion-button class = "signup" outline block (click)="discuss()">Add Comment</button>
    </div>
</ion-content>
