<ion-header>
  <ion-navbar>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
   <br>
    {{selectedItem.title}}
  </h3>
  <h3 align="center"> Asked by <b> {{selectedItem.owner}} </b> </h3>
  <h4 text-center *ngIf="selectedItem">
    Question is  <b>{{selectedItem.description}}</b>
  </h4>

    <div padding>
      <button ion-button color="primary" block (click)="answer()">Answer</button>
    </div>
   

  <ion-list>

    <button ion-item *ngFor="let item of answers" block>
      #{{item.number}}
      <br><b>Answer : </b>{{item.atext}}
      <div class="item-note" item-right>
        This was answered by {{item.author}}
      </div>
      <br>
      <br>
      Number of Likes : {{item.numberOfLikes}}

    </button>

  </ion-list>
</ion-content>
