<ion-header>
  <ion-navbar>
    <ion-title>Answer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
   <br>
    {{selectedItem.title}}
  </h3>
  <h3 align="center"> Asked by <b> {{selectedItem.owner}} </b> </h3>
  <h4 text-center *ngIf="selectedItem">
    Question is  <b>{{selectedItem.description}}</b>
  </h4>

    <div padding>
      <button ion-button color="primary" block (click)="answer()">Answer</button>
    </div>
   

  <ion-list>

    <div ion-item *ngFor="let item of answers" block>
      
      <br><b>Answer : </b>{{item.content}}
      <div class="item-note" item-right (click)="profile(item)">
          <ion-icon name="person"></ion-icon>
      {{item.answeredbyname}}
      </div>
      <br>
      <br>
 <ion-icon name="thumbs-up" (click) ="upvote(item)">{{item.upvote}}</ion-icon>
    <ion-icon name="thumbs-down" (click)="downvote(item)">{{item.downvote}}</ion-icon>
    </div>

  </ion-list>
</ion-content>
