<ion-header>
  <ion-navbar>
    <ion-title>Answer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <h3 text-center *ngIf="selectedItem">
   <br>
   <ion-icon name="quote"></ion-icon>
    {{selectedItem.title}}
  </h3>
 
  <h4 text-center *ngIf="selectedItem">
    <ion-icon name="help"></ion-icon>  <b>{{selectedItem.description}}</b>
  </h4>
  <h3 align="center"> Asked by : <b><p></p> <ion-icon name="person"></ion-icon>{{selectedItem.owner}} </b> </h3>
    <div padding>
    <button ion-button class = "signup" outline block (click)="answer()">Answer</button>
    </div>
   

    <ion-card text-wrap text-center  *ngFor="let item of answers" style="color:white;background-color:rgb(39, 65, 17);border-bottom:1px solid grey;opacity:0.6;position:relative;top:70px">
           
        <ion-card-content class="item-note" item-right>
            <br><b>Answer : </b>{{item.content}}
            <div class="item-note" item-right (click)="profile(item)">
                <ion-icon name="person"></ion-icon>
            {{item.answeredbyname}}
            </div>
            <br>
            <br>
       <ion-icon name="thumbs-up" (click) ="upvote(item)">{{item.upvote}}</ion-icon>
          <ion-icon name="thumbs-down" (click)="downvote(item)">{{item.downvote}}</ion-icon>
          <ng-container *ngIf="is_student==0">
            <button item-right ion-button (click)="block(item)">Block</button>
          </ng-container>
        </ion-card-content>
      </ion-card>







    <!--

  <ion-list>




    <div ion-item *ngFor="let item of answers" block>



      
      <br><b>Answer : </b>{{item.content}}
      <div class="item-note" item-right (click)="profile(item)">
          <ion-icon name="person"></ion-icon>
      {{item.answeredbyname}}
      </div>
      <br>
      <br>
 <ion-icon name="thumbs-up" (click) ="upvote(item)">{{item.upvote}}</ion-icon>
    <ion-icon name="thumbs-down" (click)="downvote(item)">{{item.downvote}}</ion-icon>
    </div>

  </ion-list>-->
</ion-content>
