page-item-details {
    button.signup {
        background-color: white;
        color: map_get($colors, dark);
        border: 3px solid map_get($colors, theme_color) !important;
        padding: 19px !important;
        opacity : 0.8;
       // width : 150px;
      }

}
