page-signup {
  .card {
  background-color: white;
  box-shadow: none;
  font-color: black;
}
.list {
background-color:white;
box-shadow: none;
color: black;
}
.item {
//background-color: #333333;
box-shadow: none;
}


}
