<!--
  Generated template for the LaunchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Launch Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="greypatternbg" padding>
  <ion-grid>

  <ion-row>

    <ion-col col-4>
        <button ion-button color="baseColor" full block class="cards-list-demo" (click)=presentAlertQuestions()>
          <ion-label><ion-icon name="help-circle"></ion-icon>  Questions</ion-label>
        </button>
    </ion-col>

    <ion-col col-4>
        <button ion-button color="baseColor" full block class="cards-list-demo" (click)=presentAlertNotes()>
          <ion-label><ion-icon name="bookmarks"></ion-icon> Notes</ion-label>
        </button>
    </ion-col>

    <ion-col col-4>
        <button ion-button color="baseColor" full block class="cards-list-demo" (click)=presentAlertProjects()>
          <ion-label><ion-icon name="people"></ion-icon> Projects</ion-label>
        </button>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col col-12>
          <ion-item class="transparentHead">
              <ion-label><ion-icon color="primary"></ion-icon>Global Trend</ion-label>

          </ion-item>
        </ion-col>
    </ion-row>

  <ion-row>

      <ion-col col-md-3>
        <ion-card class="cards-list-demo">
            <ion-card-header color="baseColor">
                <ion-icon class="changeFont" color="baseColor">  Top Subjects</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>

              <div *ngFor="let topSubject of topSubjects_g">
                <ul class="list">
                  <li class="item">
              {{topSubject}}
                  </li>
                  </ul>
              </div>

            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
      <ion-col col-md-3>
        <ion-card class="cards-list-demo">
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"> Top Tags</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>
              <div *ngFor="let topTag of top3Tags_l">
                <ul class="list">
                  <li class="item">
                    <h2>{{topTag}}</h2>
                  </li>
                  </ul>
              </div>
            </ion-card-content>
          </div>
          </ion-card>
      </ion-col>
      <ion-col col-md-3>
        <ion-card class="cards-list-demo">
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"> Top Contributors</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>
              <div *ngFor="let topContributor of top3Contributors_g">
                <ul class="list">
                  <li class="item">
                    {{topContributor}}
                  </li>
                  </ul>
              </div>
            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
      <ion-col col-md-3>
        <ion-card class="cards-list-demo">
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"> Data Stats</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>
              <p> Number of Questions : {{qno_g}} </p>
              <br>
              <p> Number of Notes :  {{totalNumberOfNotes_g}} </p>
              <br>
              <p> Number of Projects :  {{totalNumberOfProjects_g}} </p>
            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          <ion-item class="transparentHead" >
              <ion-label><ion-icon color="bright"></ion-icon>Personal Stats</ion-label>

          </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-4>
        <ion-card class="cards-list-demo">
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"> Top Subjects</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>
              <div *ngFor="let topSubject of topSubjects_l">
                <ul class="list">
                  <li class="item">
                    {{topSubject}}
                  </li>
                  </ul>
              </div>
            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
      <ion-col col-md-4>
        <ion-card class="cards-list-demo">
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"> Top Tags</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>
              <div *ngFor="let topTag of top3Tags_l">
                <ul class="list">
                  <li class="item">
                    {{topTag}}
                  </li>
                  </ul>
              </div>
            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
      <ion-col col-md-4>
        <ion-card class="cards-list-demo">
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"> Data Stats</ion-icon>
              </ion-card-header>
            <div class="transparentdiv">
            <ion-card-content class="item-note" item-right>
              <p> Number of Questions : {{qno_l}} </p>
              <br>
              <p> Number of Notes :  {{totalNumberOfNotes_l}} </p>
              <br>
              <p> Number of Projects :  {{totalNumberOfProjects_l}} </p>
            </ion-card-content>
            </div>
          </ion-card>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col col-12>
          <ion-item class="transparentHead">
              <ion-label><ion-icon color="bright"></ion-icon> Recommended For You</ion-label>

          </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-4>
          <ion-card (click)=openQuestions($event)>
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"></ion-icon> Questions
              </ion-card-header>
          <div class="transparentdiv">
          <ion-card-content class="item-note" item-right>
            Questions based on what you have answered till now.
          </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-md-4>
          <ion-card (click)=openNotes($event)>
            <ion-card-header>
                <ion-icon class="changeFont" color="baseColor"></ion-icon> Notes
              </ion-card-header>
          <div class="transparentdiv">
          <ion-card-content class="item-note" item-right>
            Notes based on what you have read till now.
          </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
      <ion-col col-md-4>
          <ion-card (click)=openProjects($event)>
            <ion-card-header>
                <ion-icon class="changeFont" color="bright"></ion-icon> Projects
              </ion-card-header>
          <div class="transparentdiv">
          <ion-card-content class="item-note" item-right>
            Projects based on what you have taken up till now.
          </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
