page-ideas-projects {
  .sizeinc{
    font-size: 40px;
    position: relative;
    //top: -40px;
    //top: 5px;
    //left: 200px;
  }
  .newIdea{
    position:relative;
    top: -30px;
    left: 50px;
  }
}
