<!--
  Generated template for the IdeasProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col col-11>
            Ideas and Projects

          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="greypatternbg" padding>
  <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-icon name="add-circle" color="baseColor" class="sizeinc" (click)="postNew()"></ion-icon><div class="newIdea">New Idea</div>
        <ion-item>
          <ion-label><ion-icon name="search"></ion-icon></ion-label>
          <ion-input [(ngModel)]="query" name="query" placeholder="Search for ideas or projects" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div>
          <button ion-button color="baseColor" outline>Latest</button>
        </div>
      </ion-col>
      <ion-col col-4>
        <div>
          <button ion-button color="danger" outline>Recommended</button>
        </div>
      </ion-col>
      <ion-col col-4>
        <div>
          <button ion-button color="dark">Filter<ion-icon name="arrow-down"></ion-icon></button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar style="position:relative;top:70px" [showCancelButton]="shouldShowCancel" (ionInput)="getIdeas($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
 <!-- <ion-list style="position:relative;top:70px">
    <ion-item (click)="itemTapped($event, item)" text-wrap text-center  *ngFor="let item of items1">
    -->
      <ion-card (click)="ideaTapped($event, idea)" text-wrap text-center  *ngFor="let idea of ideas" style="color:white;background-color:rgb(39, 65, 17);border-bottom:1px solid grey;opacity:0.6;position:relative;top:70px">

        <ion-card-content class="idea-note" item-right>
            <ion-icon name="quote" color="bright"></ion-icon> {{idea.title}}    <p></p>
            <ion-icon name="help" color="bright"></ion-icon> {{idea.summary}} <p></p>
          Submitted by {{idea.owner}}
        </ion-card-content>
     </ion-card>

  <!-- <ion-card class="ideas_projects_class">
    <ion-card-header>
      {{viewMode}}
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let idea of ideas" (click)="ideaSelect($event,item)">
        <ion-card>
          <ion-card-header>
            <ion-icon name="paper" color="dark"></ion-icon>
              {{idea.title}}
          </ion-card-header>
          <ion-card-content class="ideas_short"> -->








</ion-content>
